{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="column is-4 is-offset-4">
    <h3 class="title">Add New Country</h3>
    <div class="box">
      {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.add_card') }}">add Card page</a>.
    </div>
{% endif %}
{% endwith %}
        <form method="POST" action="/ui_add_country">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Country" placeholder="Country" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Capital" placeholder="Capital" autofocus="" required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Continent" placeholder="Continent">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Subregion" placeholder="Subregion">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Currency" placeholder="Currency" />
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="Code" placeholder="Code">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" step="1" pattern="\d+" name="Population" placeholder="Population">
                </div>
            </div>
            <p></p>

            <button class="button is-block is-info is-medium is-fullwidth">Add Country</button>
        </form>
    </div>
</div>
{% endblock %}
